@import "../variables";

.button {
    background-color: $primaryRed;
    color: white;
    @include headlineFont;
    font-size: medium;
    border: none;
    border-radius: 5px;
    padding: 0.4rem;
    width: 9rem;
    height: 2rem;
}