@import "../variables";

.button {
    width: 9rem;
    height: 2rem;
    padding: 0.4rem;
    margin: 0 1rem;
    color: white;
    font-size: medium;
    background-color: $primaryRed;
    border: none;
    border-radius: 5px;
    @include headlineFont;
    cursor: pointer;
}