@import "../variables";

.showCard {
    min-height: 15rem;
    width: 10rem;
    background-color: aliceblue;
    color: black;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    border: 1px solid $primaryRed;
    &__poster {
        margin-top: 1rem;
    }
    h2 {
        font-size: 16px;
    }
}