@import "../variables";

.watchedCard {
    min-height: 18rem;
    width: 11rem;
    color: black;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    color: white;
    box-shadow: 0 0 10px $primaryRed;
    &__poster {
        margin-top: 1rem;
        border: 1px solid black;
    }
    h2 {
        font-size: 18px;
        margin-top: .5rem;
        font-weight: bold;
    }
    h3 {
        font-size: 15px;
        font-style: italic;
        color: $primaryRed
    }
    .myScore {
        @include infoFont;
        font-size: 15px;
        display: flex;
        flex-direction: row;
        margin: auto;
        &__score {
            margin-right: .2rem;
            margin-left: .2rem;
        }
    }
}